.Section4 {
  width: 100%;
  height: 760px;
  background-color: #fff8f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4-img {
  width: 386px;
  height: 433px;
}

.section4-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
