.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 750px;
  height: 500px;
  border: 1px solid;
  border-radius: 10px;
}

.LoginPage-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.ButtonSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.IDButton {
  margin-bottom: 20px;
  width: 450px;
  height: 30px;
  border: 1px solid rgb(187, 188, 194);
  border-radius: 6px;
  padding: 10px 16px;
}

.PWButton {
  margin-bottom: 20px;
  width: 450px;
  height: 30px;
  border: 1px solid rgb(187, 188, 194);
  border-radius: 6px;
  padding: 10px 16px;
}

.LoginButton {
  width: 486px;
  background-color: #0084ff;
  padding: 10px 16px;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
}

.GoogleLogin {
  width: 486px;
  padding: 10px 16px;
  background-color: white;
  border: 1px solid rgb(187, 188, 194);
  border-radius: 6px;
  margin-bottom: 20px;
}

h1 {
  margin-left: 150px;
  margin-bottom: 35px;
}

.signUp-button {
  display: inline;
  color: rgb(148, 151, 160);
  text-decoration: underline;
}

.signUp-sub {
  color: rgb(148, 151, 160);
}
