.Header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: white;
  top: 0px;
  width: 100%;
  height: 60px;
}

.logo {
  width: 100px;
  height: 30px;
  margin-left: 60px;
  margin-top: 5px;
}

p {
  margin-left: 20px;
  color: black;
}

p:hover {
  color: gray;
}

.header-a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

.login {
  margin-left: 900px;
  text-decoration: none;
}

.signUp {
  text-decoration: none;
}
