.Section3 {
  width: 100%;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3-img {
  width: 315px;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.section3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
